# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
*.tfstate
*.tfstate.*

# Node
**/node_modules/

# Python
**/__pycache__/
*.pyc
**/.pytest_cache/

# Environment files
.env
.env.*

